@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* to remove the scroll */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-font-smoothing 

.card-title {
  font-family: 'Playfair Display', serif;
}

.card-description {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
/* //anti-aliasing */

}
/*  */

button-1 {
  padding: 0.8em 1.8em;
  border: 2px solid #03234d;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: white;
  -webkit-font-smoothing: antialiased;
}

button-1::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #03234d;
  transition: .5s ease;
  display: block;
  z-index: -1;
  -webkit-font-smoothing: antialiased;
}

button-1:hover::before {
  width: 105%;
}

button-1:hover {
  color: #fff;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  button-1 {
    font-size: 14px;
    padding: 0.6em 1.4em;
    -webkit-font-smoothing: antialiased;
  }
}

ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 20px;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #2968ED;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}

.spaced-list li {
  margin-bottom: 10px; /* Adjust the spacing as needed */
  /* Add a bullet point */
  /* list-style-type: disc; */
}

.font-italian {
  font-family: 'Italian Font', sans-serif; /* Replace 'Italian Font' with the actual font family name */
}

.loader {
  width: 85px;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  animation: loading-rotate 3s linear infinite;
}

.item {
  width: 40px;
  height: 40px;
  display: block;
  box-sizing: border-box;
}

.item:nth-of-type(1) {
  background-color: #03234D;
  border-radius: 20px 20px 0 20px;
  border-left: #ffffff 4px solid;
  border-top: #f7f7f7 4px solid;
}

.item:nth-of-type(2) {
  background-color: #EAB308;
  border-radius: 20px 20px 20px 0;
  border-right: #ffffff 4px solid;
  border-top: #f7f7f7 4px solid;
}

.item:nth-of-type(3) {
  background-color: #03234D;
  border-radius: 20px 0 20px 20px;
  border-left: #ffffff 4px solid;
  border-bottom: #f7f7f7 4px solid;
}

.item:nth-of-type(4) {
  background-color: #EAB308;
  border-radius: 0 20px 20px 20px;
  border-right: #ffffff 4px solid;
  border-bottom: #f7f7f7 4px solid;
}

@keyframes loading-rotate {
  0% {
    transform: scale(1) rotate(0);
  }

  20% {
    transform: scale(1) rotate(72deg);
  }

  40% {
    transform: scale(0.5) rotate(144deg);
  }

  60% {
    transform: scale(0.5) rotate(216deg);
  }

  80% {
    transform: scale(1) rotate(288deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

.pagination-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 100%;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
  border: #0088cc 1px solid;
}

.pagination-link:hover {
  background-color: #ddd;
  border: #fcbf1e 1px solid;
}

.btn-primary {
  background-color: #03234D;
  color: #fff;
  padding: 8px 16px;
  /* border-radius: 4px; */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #fcbf1e;
}

/* Spinner Articles */
.three-body {
 --uib-size: 45px;
 --uib-speed: 0.8s;
 --uib-color: #03234D;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}

/* react-burger */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Initially hide the menu by translating it to the left */
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item {
  display: inline-block;
  margin-bottom: 10px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Push page content when menu is open */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  transition: transform 0.3s ease;
}

.bm-menu-wrap.menu-open {
  transform: translateX(-200px);
}

.submenu {
  display: none;
}

.bm-menu a {
  color: white;
}

.bm-menu Link {
  color: white;
  display: block;
  margin-bottom: 20px; /* Adjust as needed */
  text-decoration: none;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-push {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease; /* Ensure the transition property is correctly applied */
  z-index: 99;
}

.menu-push-open {
  width: 500px; /* Adjust this value according to your menu width */
}

/* article list */

.article-content ul {
  list-style-type: disc;
  margin-left: 20px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    
  }
}

.article-content ol {
  list-style-type: decimal;
  margin-left: 20px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    
  }
}

.article-content ul ul {
  list-style-type: circle;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    
  }
}

.article-content ul ul ul {
  list-style-type: square;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    
  }
}

